* {
    padding: 0;
    margin: 0;
}

#content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100%;
}

#contact-wrapper > div {
    padding: 10%;
}

#contact-wrapper > div:last-child {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}