footer.footer.footer-black.footer-big
    .container
        .row
            .col-md-4.col-sm-4.ml-auto.mr-auto
                .logo.text-center 
                     a.navbar-brand(href='/login')
                        img(src="/img/logos/LogoAB.png", alt="logo", style='max-heigth: 175px; max-width: 175px;')
            .col-md-6.offset-md-2.col-sm-8
                .links
                    ul(style='center')
                        //li
                            a(href='/')
                                | Registro
                        //li
                            a(href='#paper-kit')
                                | Subasta Progen
                        //li
                            a(href='/about-us')
                                | Login
                        //li
                            a(href='/contact-us')
                                | R
                        //li
                            a(href='/terms-conditions')
                                | Términos  y  Condiciones
                        //li
                            a(href='#paper-kit')
                                | We're Hiring!
                    hr
                    .copyright
                        .pull-center
                            | © 
                            script.
                                document.write(new Date().getFullYear())
                            |, Powered by Agrarium Technologies S.A.S. de C.V.    
                        .pull-right
                            ul
                                //li
                                    a(href='#paper-kit')
                                        | Términos 
                                //|                   | 
                                //li
                                    a(href='#paper-kit')
                                        | Términos 