extends ../layout
block content
    .background-img(style="background-image: url('/img/codes/401.jpg');")
        .filter
        .container
            .row
                h1.title
                    | 401
                    br
                    p.error-msg
                        | Lo sentimos, pero no tiene autorización para acceder a la página solicitada.
                        br
                        |  Vuelva a la página principal para que pueda seguir haciendo uso de nuestra plataforma.