extends ../layout
block content
    .wrapper(style='height:100vh; overflow:hidden;')
        .page-header(style="background-image: url('/img/login.jpg');")
            .filter
            .container
                .row(style='margin-top:-60px')
                    .col-lg-4.col-md-6.col-sm-6.ml-auto.mr-auto
                        .card.card-register
                            h3.card-title.text-center Enviar la contraseña a mi e-mail
                            .division
                                .line.l
                                .line.r
                            if error
                                p(style='color: red; text-align: center; margin-top: -10px; margin-bottom: 10px;') #{error}
                            form.forgot-form(action='/forgot-password', method='post')
                                input.form-control(type='text', placeholder='Correo', name='email')
                                button.btn.btn-block.btn-round(type='submit', style='background-color: #397DC0; border-color: #397DC0;') Recuperar mi cuenta