<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>¡Un cliente requiere de nuestra atención!</title>
</head>
<body>
    <p>
        Hola compañero, <br> <br>
        El usuario <strong> X X </strong> (<a href="mailto:"> X </a> )necesita nuestra asistencia con lo siguiente: <br>
        <i>
            XXX 
        </i>
        <br> <br>
        NOTA: Recuerda no contestar este e-mail, debes de mandar uno nuevo a nuestro cliente :)
        <br> <br>
        <i>-Agrabot</i>
    </p>
</body>
</html>