extends ../layout
block styles
    link(rel="stylesheet", href="/css/subasta/admin.css")
block content
    #content-wrapper
        div
        div
            div
                h2 Lote: 103
                table
                    tr
                        th
                        th
                    tr
                        td suh 
                        td suh
                    td
                        td Suh
                        td SUh
            div


block scripts
    script(src="/js/socket.io.js")
